
#brands{

    h2{
        font-size: 36px;
        font-weight: $fw-bold;
        color: $clr-green-900;
        text-align: center;
        padding: 2em 0;
        position: relative;
        &::before{
            content:"";
            position: absolute;
            background-color: $clr-green-300;
            width: 1000%;
            height: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            overflow: hidden;
            z-index:-1;
        }
        &::after{
            content:"";
            position: absolute;
            background-color: $clr-green-300;
            width: 100%;
            height: 100%;
            right: -100%;
            left: 0;
            bottom: 0;
            z-index:-1;
            overflow: hidden;
        }
    }

    .slider__brands{
        padding-top: 2rem;
        @keyframes scroll{
            0%{
                transform: translateX(0);
            }
            100%{
                transform: translateX(calc(-250px *7));
            }
        }
        height: 200px;
        margin: auto;
        position: relative;
        width: auto;
        overflow: hidden;
        .slider-track__brands{
            padding: 30px 5px;
            display: flex;
            gap: 50px;
            animation: scroll 40s linear infinite;
            width: calc(250px * 6);
        }
        .slide img{
            aspect-ratio: 16/9;
            // height: 100px;
            width: 200px;
        }
    }

  }

  .bg-black{
    background-color: black;
    h3{
        color: $clr-neutral-100;
        font-size: $fs-800;
        text-align: center;
        padding: 3rem 0;
    }
  }

  .brand_cards{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    gap: 1.5rem;
    @media (max-width: 55em) {
      padding: 0 .8rem;
      
    }
  }

  .brand_card{
    outline: 3px solid $clr-green-700;
    border-radius: 25px;
    display: grid;
    gap: 1.5rem;
  }
  .img_wrapper{
    justify-self: center;
    display: flex;
    padding: 10px 12px;
    width: 274px;
    height: 220px;
  }
  .img_wrapper img{
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .btn_wrapper{
    background-color: $clr-green-250;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 16px 0px;
  }

  .show{
    display: block;
  }
  .information{
    $spacing: 0 2rem 0 2rem;
    padding: 0 .8rem;

    .company-name{
      .img-wrapper{
        display: flex;
        justify-content: center;
        padding: 2.5em 0;
        img{
          width: 250px;
          height: auto;
        }
      }
      p,a{
        padding: $spacing;
        font-size: 1rem;
      }
      p{
        line-height: 2;
      }
      a{
        line-height: 3;
      }
 
      .pdf-link{
        padding: $spacing;

      }
      .button-wrap{
        border: 3px blue solid;
      }
    }

    .even-columns{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: .5rem;
      padding-bottom: 2rem;
      @media(max-width: 55em){
        grid-template-columns: 1fr;
      }
    }
  }
  .no-list-style{
  list-style: none;
  }
  .grid-jc-center{
    display: grid;
    justify-content: center;
  }

.text-align-center{
  text-align: center;
}
.padding-y-3{
  padding: 1.5rem 0;
}
.cards{
  margin-inline: auto;
}

// .grid-center{
//   display: grid;
//   max-width: 900px;
//   align-content: center;
// }
.brand-cards{
  outline: 3px solid $clr-green-900;
  width: 100%;
}
.product-lists{
  padding: 0 3rem;

}
.product-list{
  padding: 1rem 3rem 3rem 0;
  li{
    position: relative;
    line-height: 1.7;
    font-size: $fs-500;
    &::before{
      content: " ";
      position: absolute;
      background: url(/images/check-mark.png) no-repeat;
      height: 100%;
      width: 23px;
      left: -1.8rem;
     
    }
  }
}

.grid-center{
  margin-top: 30px;
  display: grid;
  gap: 30px;
}
.btn-wrapper{
  float: right;
  .goback-btn{
    text-decoration: none;
    color: $clr-green-600;
    font-weight: $fw-semi-bold;
    padding: .5rem 1rem .5rem 1rem;
    border: 2px solid green;
    background-color: lightgreen;
    &:is(:hover,:focus){
      color: $clr-neutral-900;
      background-color: $clr-neutral-50;
    }

  }
}
.hidden{
  display: none;
}