#cta{
    background-color: $clr-neutral-900;

    .flex-even-columns{
        display: flex;
        flex: 1;
        border: 1px solid red;
        @media (max-width: 55em){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .col-1{
            color: $clr-green-50;
            display: flex;
            align-items:center;
            margin-inline: auto;
            padding: 0 3em;

            h3{
                font-size: $fs-800;
                font-weight: $fw-bold;
                line-height: 1.2;

                
                @media(max-width: 55em){
                    font-size: $fs-700;
                    padding: 1.5em 2em;
                }
            }
        }
        .col-2{
            position: relative;
            padding: 3em 0;
            margin-inline: auto;
  
            .form-container{
                padding: 1em 3em;
                border-radius: 20px;
                background-color: rgb(255, 255, 255);
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                justify-content: center;
                height: 100%;
                position: relative;
                @media (max-width: 55em){
                    padding-top: 3em;
                }

                input[type="text"],
                input[type="email"],
                textarea
                {
                    z-index: 1;
                    font-size: 14px;
                    width: 250px;
                    border-radius: 5px;
                    background-color: white;
                    border: 2px solid black;
                    padding: .5em .5em;
                    &::placeholder{
                        opacity:.5;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                }
              
            }
            .img-eclipse{
                position: absolute;
                bottom: 0;
                right: 0;
                }
            .img-tablet{
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    // .d-grid-col-2-no-top-margin{
    //     display: grid;
    //     grid-template-rows: auto;
    //     grid-template-columns: 1fr 1fr;
    //     grid-template-areas: "title form";
    //     @media(max-width: 55em){
    //         grid-template-columns: 1fr;
    //         grid-template-rows: auto;
    //         grid-template-areas: 
    //         "title" 
    //         "form";
    //         gap: .5em;
    //     }

        
      
    //   }
}