$layout-small: 55em;

@import './variables';
@import './_functions';

@mixin grid{

}
header{
    .primary-header{
        // position: fixed;
        // top: 0;
        // margin-top: 7em;
        background-color: white;
        width: 100%;
        z-index: 10000;

        border-bottom: 1px solid $clr-neutral-300;
        .nav-wrapper{
            @include flex(space-between, center, row);
            padding: $size-600 $size-500;

        }
        .container{
            max-width: 1100px;
            margin-inline:auto;
        }
        .title{
            font-size: 1.4rem;
            h4{
                color: $clr-neutral-900;
                  &:is(:hover,:focus){
                color: $clr-green-700;
            }
            }
          
            @media(max-width: 55em)
            {
                font-size: 1rem;
            }
            font-weight: 700;
            text-decoration: none;
            @include flex(center, center, row);
            gap: 5px;
        }

        .mobile-nav-toggle{
            display: none;
        }
        .mobile-nav-toggle img[aria-hidden = "false"]{
            display: none;
        }

        @media (max-width:$layout-small)
        {
            .title
            {
                margin-inline: auto;
            }
            .primary-header{
                top: 0;
                margin: 0;
              }
              .primary-navigation{
                display: none;
              }
              .nav-wrapper{
                position: relative;
                flex-direction: column;
              }
              .nav-list{
                left: 0;
                right: 0;
                display: grid;
                gap: 0;
                text-align: center;
                font-weight: $fw-bold;
                background: rgba(250,250,250,.8);
            
                z-index: 1000;
              }
              .nav-list li{
                // border-bottom: $clr-green-300 2px solid;
                padding: 20px;
              }
    
              .mobile-translate-toggle{
                position: absolute;
                right: 0;
              }
              .mobile-nav-toggle{
                display: block;
                position: fixed;
                left: 10px;
                z-index: 100;
                cursor: pointer;
                background: transparent;
                border: 0;
                padding: 0.5em;
              }
            
              .primary-navigation[data-visible]{
                display: block;
               
              }
        }
    
    
        .primary-navigation{
            .nav-list{
                display: flex;
                gap: clamp($size-400, 5vw, $size-700);
                list-style: none;

                ul{
                    font-size: .9rem;
                    list-style: none;
                    display: inline-block;
                }
                a{
                    color: $clr-neutral-900;
                    font-weight: 600;
                    text-decoration: none;
                    &:is(:hover, :focus){
                        color: $clr-green-700;
                        font-weight: $fw-bold;
                        text-decoration: none;
                    }
                }
            }
            
        }
    }

}
.primary-dropdown-menu[data-visible]{
    display: block;
}
.primary-dropdown-menu{
    display: none;
    border-top: 1px solid lightgray;
    width: 100%;
    z-index: 1;
    background-color: white;

    .nav-list{
        margin-top: 2rem;
        display: flex;
        gap: 3rem;
        justify-content: center;
        align-items: center;

        .items{
            list-style: none;
            padding-bottom: 2.5rem;
           
            a{
                font-size: 2rem;
                color: $clr-neutral-900;
                text-decoration: none;
                line-height: 1.5;
                &:is(:hover,:focus){
                    color: $clr-green-700;
                    border-bottom: $clr-green-700 3px solid;
                    padding-bottom: 2.5rem;
                }

            }
        }
    }
  
    
     
}