$layout-small: 55em;

@import './variables';
@import './_functions';

@mixin grid{

}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgba(250,250,250,.7)
   
}
header{

    .primary-header{
        border-bottom: 1px solid $clr-neutral-300;
        .nav-wrapper{
            @include flex(space-between, center, row);
            padding: $size-200 0;
        }
        .title-logo{
            h4{
                font-size: $fs-600;
                font-weight: $fw-bold;
                color: $clr-neutral-900;
                &:is(:hover,:focus){
                    color:$clr-green-700;
                    
                }
            }
           
            @media(max-width: 55em)
            {
                font-size: 1rem;
            }
            font-weight: 700;
            text-decoration: none;
            @include flex(center, center, row);
            gap: 5px;
        }

        //Menu Button
        .mobile-nav-toggle{
            display: none;
        }
        .mobile-nav-toggle img[aria-hidden = "false"]{
            display: none;
        }

        @media (max-width:$layout-small)
        {
      
            .primary-header{
                top: 0;
                margin: 0;
              }
              .primary-navigation{
                display: none;
              }
              .nav-wrapper{
                flex-direction: column;
              }
              .nav-list{
                display: flex;
                flex-direction: column;
                background-color: rgba(0,0,0,.9);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 90vh;
                padding-top: 3.5rem;
              }

              .mobile-translate-toggle{
                position: absolute;
                right: 0;
              }
              .mobile-nav-toggle{
                display: block;
                position: fixed;
                left: 10px;
                z-index: 100;
                cursor: pointer;
                background: transparent;
                border: 0;
                padding: 0.5em;
              }
            
              .primary-navigation[data-visible]{
                display: block;
              }
        }
        .primary-navigation{
            $spacing: 2rem;

            a{
                font-size: $fs-300;
                color: white;
                text-decoration: none;
                line-height: 2;
                margin-left: $spacing;
                font-weight: $fw-semi-bold;
                &:is(:hover, :focus){
                    color: $clr-green-700;
                    font-weight: $fw-bold;
                    text-decoration: none;
                }
            }
            @media (min-width: 55em)
            {
                .nav-list{
                    display: flex;
                    gap: clamp($size-400, 5vw, $size-700);
                    list-style: none;
    
                    ul{
                        list-style: none;
                        display: inline-block;
                    }
                    a{
                        color: $clr-neutral-900;
                        margin: 0;
                        &:is(:hover, :focus){
                            color: $clr-green-700;
              
                        }
                  
                    }
                }
            }
           
            
        }
    }

}

//Dropdown menu
.dropdown-menu[data-visible]{
    display: grid;
}

.down{
    top: 3.7rem;
}
.dropdown-menu{
    display:none;
    a{
        font-family: roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
        font-size: $fs-400;
        padding-bottom: .5rem;
        text-decoration: none;
        line-height: 2;
        color: white;
        margin-left: 2rem;

    }

    @media (min-width: 55em){
        position: absolute;
        background-color: rgba(250,250,250,.9);
        border-radius: 5px;
        padding: 1.3rem 1rem;
        cursor: pointer;
        @media (max-width: $layout-small){
            z-index: 10;
            width: 250px;
            top: 0;
        }
    
        a{
            line-height: 1.5;
            color: $clr-neutral-900;
            &:is(:hover,:focus){
                color: $clr-green-700;
            }
        }
    }


}
//Translate Button
.translate-nav-wrap{

    display: flex;
    a{
      padding: .2em .3em;
      margin-right: .5rem;
    }
    @media (max-width: 55em){
      flex-direction: column;
  
    }
  }
  .english-translate,
  .chinese-translate{
    cursor: pointer;
    font-size: .75em;
    font-weight: $fw-semi-bold;
  
    &:hover,
    &:focus{
      color: red;
    }
  }
  .active{
    // border-bottom: 3px double red;
  }
  