#hero-page{
    background: url(../images/grassland-background.png) no-repeat;
    background-size: cover;
    background-position-y: bottom;

    .text-content{
        padding: 7rem 0;

        max-width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-inline: auto;
        @media(max-width: 55em){
            // padding-left: 20px;
            width: 100%;
        }
      
    
        h1{
            font-size: 60px;
            font-weight: $fw-bold;
            line-height: .9;
            margin-bottom: .5rem;

            @media(max-width: 55em){
                font-size:$fs-800;
            }
        }
   
        .buttons{
            margin-top: 1.5em;
            @media (max-width: 55em){
                justify-content: center;

            }
        }
       
    }
}
  

  