#hero-page{
    background: url(../images/family-background.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;

    .hero{
        display: flex;
        align-items: center;
        height: 100%;
    }

    .text-content{
        padding: 5rem 3rem;
        margin-left: .5rem;
        background-color:rgba(250,250,250,.7);
        max-width: 520px;
        width: 100%;
        @media(max-width: 55em){
            padding: 3rem 1.5rem;
        }
        h1{
            font-size: 60px;
            font-weight: $fw-bold;
            line-height: .9;
            margin-bottom: .5rem;
         
            @media(max-width: 55em){
                font-size:$fs-800;
            }
        }
   
        .buttons{
            margin-top: 1.5em;
            @media (max-width: 55em){
                justify-content: center;

            }
        }
       
    }
}
  
.bg_old_couples{
    background: url('../images/oldcouplebg.png') no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
    @media(max-width:55em)
    {
        padding-top: 3.5rem;
        background-position: left;

    }
    // height: 100vh;
}
.ingredient_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 170px;
    @media(max-width: 55em){
        grid-template-columns: 1fr;
        gap: .7em;
        height: 300px;
    }
    #left{
        background: url("../images/nutritional.png") no-repeat;
        align-items: end;
        padding: 0 30px 30px 0;
        p{
            &:before{
                font-size: 1.5rem;
                content:' \2190';
                padding-right: 1rem;
            }
        }


    }
    #right{
        background: url("../images/apifinechemical.png") no-repeat;
        padding: 0  30px 30px;
        p{
            &:after{
                font-size: 1.5rem;
                content: '\2192';
                padding-left: 1rem;
            }
        }

    }
    .text-wrapper{
        color: $clr-neutral-50;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        h3{
            font-size: $fs-700;
            font-weight: $fw-bold;
            text-transform: uppercase;
            color: $clr-neutral-50;
            @media(max-width: 55em){
                font-size: $fs-650;
                align-items: center;
                justify-content: center;
            }
        }
        p{
            font-size: $fs-400;
            color: $clr-neutral-900;
            font-weight: 300;
        }
    }

}
#brief_description{
    .text-wrapper{
      $spacing: 2rem;
      max-width: 550px;
      width: 100%;
      padding-top: $spacing;
      h2{
        text-align: center;
        margin-top: $spacing;
        font-size: $fs-800;
        text-transform: uppercase;
      }
      p{
        margin-top: $spacing;
        margin-left: $spacing;
        font-weight: $fw-regular;
        line-height: 2;
      }
      button{
        margin-top: $spacing;
        margin-left: $spacing;
      }
      .img-container{
        margin-top: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        @media(max-width: 55em)
        {
          display: none;
        }
  
        img{
          width: 100%;
          max-height: 150px;
          max-width: 240px;
        }
    
      }
    }
  }
  #service{
    padding-top: 5rem;
    .some_text_container{
        max-width: 500px;
        width: 100%;
        justify-self: end;
    }
    .service_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media(max-width: 55em)
        {
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
        }
    }
    .circle_wrapper{
        position: relative;

        // border: 3px solid green;

        #circle{
            height: 300px;
            width: 300px;
            border-radius: 50%;
            border: dashed 2px lightgray;
        }

        .text-wrapper{
            position: absolute;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            justify-content: center;
            align-items: center;
            border: solid 1.5px $clr-green-700;
            border-radius: 100px;
            padding: 0;
            background-color: white;

            height: 120px;
            width: 120px;
            p{
                color: $clr-green-700;
            }
            .chinese{
                font-size: 28px;
                font-weight: 600;
            }
            .english{
                font-size: $fs-300;
            }
        }
        #circle-1{
            top: -70px;
            left: 95px;
        }
        #circle-2{
            top: 90px;
            left: -70px;
        }
        #circle-3{
            top: 90px;
            left: 250px;
        }
        #circle-4{
            bottom: -70px;
            left: 95px;
        }
    }
  
    

  }
//   .service_container{
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     border: 3px solid red;
//     grid-template-rows: auto;
//     background-color: #FCF6F1;

//     #circle{    
//         height: 300px;
//         width: 300px;
//         border-radius: 50%;
//         border: dashed 2px green;
//     }
  
//     .some_text_container{
//         ul{
//           list-style: none;
//         }
//       }

//     .circle-wrapper{
//       display: grid;
//       grid-template-columns: 1fr 1fr;
//       @media(max-width: 55em){
//         grid-template-columns: 1fr;
//       }
//       max-width: 1100px;
//       width: 100%;
  
  
//       .text-wrapper{
//         display: flex;
//         gap: .5rem;
//       }
//     }
//   }
  
  