.bg-pharma{
    background: url(../images/bg-pharma.png) no-repeat;
    background-position: center;
    background-size: cover;
}
#pharma-ingredients .text-content{
    color: $clr-green-50;


    h1{
        font-size: 50px;
        @media(max-width: 55em)
        {
            font-size: 1.2rem;
            padding-left: .5em;
            padding-top: 5rem;
        }
        text-align: center;
        padding: 7rem 0 0 1rem;
    }
    p{
        padding-bottom: 5rem;
        text-align: center;
        font-size: $fs-600;
        font-weight: $fw-regular;
        @media(max-width: 55em)
        {
            font-size: .65rem;
            width: 90%;
            margin-inline: auto;
        }

    }
}

#pharma-ingredients{
    .nav-container{
        padding-top: 3rem;
        padding-bottom: 3rem;
        max-width: 600px;
        width: 100%;
        margin-inline: auto;
        .alpha-nav{

        
            padding: 3rem 1.2rem;        
            background-color: #f2f2f2;
            border-radius: 20px;
            box-shadow: 0 18px 16px -14px #9fa1a0;
            h3{
                font-size: 2rem;
                padding-bottom: 1rem;
                @media(max-width: 55em)
                {
                    font-size: 1rem;
                }
            }
            .alphabets{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
                grid-template-rows: auto;
                gap: .3rem;
                position: relative;

                #remove{
                    position: absolute;
                    bottom: -30%;
                    right: 4px;
                    width: 100px;
                    color: #fff;
                    background-color: rgb(218, 43, 43);
                    outline: none;
                    &:is(:hover,:focus)
                    {
                        background-color: rgb(215, 108, 108)
                    }

                }
           
                
                // justify-content: center;
                button{
                    outline: 1px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    padding: .2rem 0;
                    border-radius: 2px;
                
                    span{
                        text-align: center;
                        text-transform: uppercase;
                    }
                    &:is(:hover,:focus){
                        background-color: green;
                        outline-color: green;
                        color: white;
                    }
                }
            }

        }
    }
}
.product-container-container{
    background-color: #619272;
    color: $clr-green-50;

    h2{
        display: inline-block;
        font-size: 4rem;
        padding: 3rem 2rem 0 2rem;
        font-weight: $fw-semi-bold;
    }
    p{
        display: inline-block;
    }

}

#pharma-ingredients .product-container{
    padding: 5rem 0;
    max-width: 1100px;
    width: 100%;
    margin-inline: auto;
    margin-bottom: 3rem;
    // outline: 3px solid green;
    .product-cards{
        padding: 0 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: auto;
        gap: 30px;
        .card{
            border: 1px solid lightgray;
            padding: 1.5rem 0;
            h3{
                text-align: center;
                height: 2rem;
                padding-bottom: 3rem;
                border-bottom: 1px solid lightgray;
            }
            p{
                margin: 2rem 0 0 1rem;
                height: 3rem;

            }
        }
    }
}