*{
    padding: 0;
    margin: 0;
}
@import './_variables';

body{
    font-family: $ff-primary;
  }

//   @import './_start';
  @import './header';
  @import './hero';
  @import './about';
  @import './brands';
  @import './cta';

  @import './contact-page';
  @import './footer';

.translate-nav-wrap{
  display: flex;
  a{
    padding: .2em .3em;
  }
  @media (max-width: 55em){
    flex-direction: column;
    // :first-child{
    //   border-bottom: 3px solid orange;
    // }
  }
}
.english-translate,
.chinese-translate{
  cursor: pointer;
  font-size: .75em;
  font-weight: $fw-semi-bold;

  &:hover,
  &:focus{
    color: red;

  }
 
}
.active{
  border-bottom: 2px double red;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr) 300px;
  grid-template-rows: auto;
 

  grid-template-areas:
  "text text text img" 
  "service service service img";

  @media (max-width: 55em){
    grid-template-areas:
      "text text text text"
      "img img img img"
      "service service service service";
    
  }

  .box-1{
    grid-area: text;

    padding: 3rem;
    line-height: 2;

  }
  .box-2{
    grid-area: img;
    padding: 3rem 2rem 0 2rem;

  
    .adj-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      gap: 1.5rem;
      background-color: $clr-green-300;
      border-radius: 1.5rem;
      padding: 3rem;

      @media (max-width: 55em)
      {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
      }


      .icon-wrapper{
        display: flex;
        flex-wrap:wrap;
      
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 120px;

        

      }
    }

  }
  .box-3{
    grid-area: service;
    padding: 0 1.5rem;

    font-size: $fs-650;

    ul{
      list-style: none;
      li{

        position: relative;
        line-height: 1.5;
        margin-left: 1.5rem;
        padding: .5rem 0;
        
        &:before{
          content: "\2B9E";
          color: white;
          font-size: .9rem;
          position: absolute;
          left: -2rem;
          top: 15px;
          border-radius: 100%;
          padding: 0 5px;
          background-color: $clr-green-700;
    
        }
      }
    }

  }
}
