@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.show {
  display: block;
}

.buttons {
  display: flex;
  gap: 1.8em;
}

.button-primary-dark,
.button-primary-light {
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: raleway, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.button-primary-light {
  background-color: #f0fdf4;
  border: none;
  color: #171717;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
}
.button-primary-light:hover, .button-primary-light:focus {
  background-color: green;
  color: white;
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
}

.button-primary-dark {
  background-color: green;
  color: #fff;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
}
.button-primary-dark:focus, .button-primary-dark:hover {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  color: #171717;
  background-color: #f0fdf4;
  outline: none;
}

.font-primary-dark {
  color: #171717;
}

.font-primary-white {
  color: #f0fdf4;
}

.font-primary-dark-green {
  color: #14532d;
}

.f-w-bold {
  font-weight: 700;
}

.f-w-semi-bold {
  font-weight: 600;
}

.clr-red {
  color: blue;
}

.f-cap {
  text-transform: uppercase;
}

.t-a-center {
  text-align: center;
}

/* Spacing */
.spacing-y-1 {
  padding: 0.5em 0;
}

.spacing-y-2 {
  padding: 1em 0;
}

.spacing-y-3 {
  padding: 1.5em 0;
}

.spacing-x-1 {
  margin: 0 0.5em;
}

.spacing-1 {
  padding: 0.5em 0.5em;
}

.header-spacing {
  padding-top: 3rem;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.show {
  display: block;
}

.buttons {
  display: flex;
  gap: 1.8em;
}

.button-primary-dark,
.button-primary-light {
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: raleway, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.button-primary-light {
  background-color: #f0fdf4;
  border: none;
  color: #171717;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
}
.button-primary-light:hover, .button-primary-light:focus {
  background-color: green;
  color: white;
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
}

.button-primary-dark {
  background-color: green;
  color: #fff;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
}
.button-primary-dark:focus, .button-primary-dark:hover {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  color: #171717;
  background-color: #f0fdf4;
  outline: none;
}

.font-primary-dark {
  color: #171717;
}

.font-primary-white {
  color: #f0fdf4;
}

.font-primary-dark-green {
  color: #14532d;
}

.f-w-bold {
  font-weight: 700;
}

.f-w-semi-bold {
  font-weight: 600;
}

.clr-red {
  color: blue;
}

.f-cap {
  text-transform: uppercase;
}

.t-a-center {
  text-align: center;
}

/* Spacing */
.spacing-y-1 {
  padding: 0.5em 0;
}

.spacing-y-2 {
  padding: 1em 0;
}

.spacing-y-3 {
  padding: 1.5em 0;
}

.spacing-x-1 {
  margin: 0 0.5em;
}

.spacing-1 {
  padding: 0.5em 0.5em;
}

.header-spacing {
  padding-top: 3rem;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.7);
}

header .primary-header {
  border-bottom: 1px solid #d4d4d4;
}
header .primary-header .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem 0;
}
header .primary-header .title-logo {
  font-weight: 700;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
header .primary-header .title-logo h4 {
  font-size: 1rem;
  color: black;
}
header .primary-header .title-logo h4:is(:hover, :focus) {
  color: #15803d;
}
@media (max-width: 55em) {
  header .primary-header .title-logo {
    font-size: 1rem;
  }
}
header .primary-header .mobile-nav-toggle {
  display: none;
}
header .primary-header .mobile-nav-toggle img[aria-hidden=false] {
  display: none;
}
@media (max-width: 55em) {
  header .primary-header .primary-header {
    top: 0;
    margin: 0;
  }
  header .primary-header .primary-navigation {
    display: none;
  }
  header .primary-header .nav-wrapper {
    flex-direction: column;
  }
  header .primary-header .nav-list {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    padding-top: 3.5rem;
  }
  header .primary-header .mobile-translate-toggle {
    position: absolute;
    right: 0;
  }
  header .primary-header .mobile-nav-toggle {
    display: block;
    position: fixed;
    left: 10px;
    z-index: 100;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }
  header .primary-header .primary-navigation[data-visible] {
    display: block;
  }
}
header .primary-header .primary-navigation .nav-list {
  display: flex;
  gap: clamp(1rem, 5vw, 3rem);
  list-style: none;
}
header .primary-header .primary-navigation .nav-list ul {
  list-style: none;
  display: inline-block;
}
header .primary-header .primary-navigation .nav-list a {
  font-size: 0.9rem;
  color: #171717;
  font-weight: 600;
  text-decoration: none;
}
@media (max-width: 55em) {
  header .primary-header .primary-navigation .nav-list a {
    font-size: 3rem;
    color: white;
  }
}
header .primary-header .primary-navigation .nav-list a:is(:hover, :focus) {
  color: #15803d;
  font-weight: 700;
  text-decoration: none;
}

.dropdown-menu[data-visible] {
  display: block;
}

.down {
  top: 3.7rem;
}

.right {
  top: 0;
  left: 103%;
  width: 150px;
}

.dropdown-menu {
  display: none;
  z-index: 1;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 5px;
  padding: 1.3rem 1rem;
  cursor: pointer;
}
.dropdown-menu a {
  font-family: raleway, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  color: red;
  line-height: 1.5;
  color: #171717;
  text-decoration: none;
}
.dropdown-menu a:is(:hover, :focus) {
  color: #15803d;
}

.translate-nav-wrap {
  display: flex;
}
.translate-nav-wrap a {
  padding: 0.2em 0.3em;
  margin-right: 0.5rem;
}
@media (max-width: 55em) {
  .translate-nav-wrap {
    flex-direction: column;
  }
}

.english-translate,
.chinese-translate {
  cursor: pointer;
  font-size: 0.75em;
  font-weight: 600;
}
.english-translate:hover, .english-translate:focus,
.chinese-translate:hover,
.chinese-translate:focus {
  color: red;
}

.active {
  border-bottom: 3px double red;
}

#hero-page {
  background: url(../images/family-background.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
#hero-page .hero {
  display: flex;
  align-items: center;
  height: 100%;
}
#hero-page .text-content {
  padding: 5rem 3rem;
  margin-left: 0.5rem;
  background-color: rgba(250, 250, 250, 0.7);
  max-width: 450px;
}
@media (max-width: 55em) {
  #hero-page .text-content {
    width: 100%;
    padding: 3rem 1.5rem;
  }
}
#hero-page .text-content h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 0.9;
  margin-bottom: 0.5rem;
}
@media (max-width: 55em) {
  #hero-page .text-content h1 {
    font-size: 2.5rem;
  }
}
#hero-page .text-content .buttons {
  margin-top: 1.5em;
}
@media (max-width: 55em) {
  #hero-page .text-content .buttons {
    justify-content: center;
  }
}

#intro .display-8 {
  width: 80%;
  margin-bottom: 25em;
}
@media (max-width: 55em) {
  #intro .display-8 {
    width: 100%;
  }
}
#intro .img-absolute {
  position: relative;
  width: 100%;
  height: auto;
}
#intro .img-absolute img {
  position: absolute;
  top: -350px;
  left: -0.5em;
}
#intro h1 {
  padding-top: 1em;
  padding-bottom: 0.5rem;
  font-family: "Raleway", sans-serif;
  color: #15803d;
  font-size: 70px;
}
@media (max-width: 55em) {
  #intro h1 {
    font-size: 55px;
  }
}
#intro p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #a3a3a3;
  line-height: 1.5;
}

#features {
  background-color: #171717;
  color: #fafafa;
  box-sizing: border-box;
}
#features .even-columns {
  padding-top: 12em;
  max-width: 1100px;
  width: 100%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  grid-template-rows: auto;
}
#features .even-columns .cards {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em 0.5em;
  margin-bottom: 2.5rem;
}
#features .even-columns .cards h4 {
  font-size: 1.875rem;
}
#features .even-columns .cards p {
  color: #fafafa;
  line-height: 1.7;
  font-size: 1rem;
}
#features .even-columns .cards .d-flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#features .even-columns .cards .text-white-stroke {
  font-size: 3.5rem;
  opacity: 0.7;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

@media (max-width: 55em) {
  #history {
    padding: 0 1rem;
  }
}
#history .row {
  position: relative;
  max-width: 1100px;
  width: 100%;
  margin-inline: auto;
  margin-top: 3em;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  #history .row {
    justify-content: center;
    gap: 2rem;
  }
}
#history .row .col-1 {
  max-width: 500px;
  width: 100%;
}
#history .row .col-1 .sticky {
  position: -webkit-sticky; /*Safari */
  position: sticky;
  top: 3rem;
}
#history .row .col-1 .sticky h2 {
  font-size: 42px;
  color: #171717;
  margin-bottom: 0.5em;
  line-height: 1.3;
}
#history .row .col-1 .sticky p {
  font-size: 14px;
  color: #737373;
  line-height: 1.7;
}
#history .row .col-2 {
  position: relative;
  display: block;
  max-width: 500px;
  width: 100%;
}
#history .row .col-2 h4 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
#history .row .col-2 p {
  line-height: 1.5;
  font-size: 0.9rem;
  color: #a3a3a3;
}
#history .row .col-2 h6 {
  text-align: center;
  background-color: #171717;
  color: #fafafa;
  padding: 0.4rem;
  display: inline-block;
  border-radius: 5px;
}
#history .row .col-2 .vertical-border {
  position: absolute;
  height: 100%;
  border: dotted 2px #d4d4d4;
}
#history .row .col-2 .item {
  margin-left: 1.5rem;
  margin-bottom: 3rem;
  position: relative;
}
#history .row .col-2 .item::before {
  content: " ";
  position: absolute;
  border-radius: 50%;
  border: 7px solid #15803d;
  width: 14px;
  height: 14px;
  top: 5px;
  left: -7.5%;
  background-color: #fafafa;
}
@media (max-width: 55em) {
  #history .row .col-2 .item::before {
    left: -8%;
  }
}

#brands {
  margin-top: 6em;
}
#brands h2 {
  font-size: 36px;
  font-weight: 700;
  color: #14532d;
  text-align: center;
  padding: 2em 0;
  position: relative;
}
#brands h2::before {
  content: "";
  position: absolute;
  background-color: #86efac;
  width: 1000%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}
#brands h2::after {
  content: "";
  position: absolute;
  background-color: #86efac;
  width: 100%;
  height: 100%;
  right: -100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}
#brands .slider__brands {
  padding-top: 2rem;
  height: 200px;
  margin: auto;
  position: relative;
  width: auto;
  overflow: hidden;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
#brands .slider__brands .slider-track__brands {
  padding: 30px 5px;
  display: flex;
  gap: 50px;
  animation: scroll 40s linear infinite;
  width: 1500px;
}
#brands .slider__brands .slide img {
  aspect-ratio: 16/9;
  width: 200px;
}

.bg-black {
  background-color: black;
}
.bg-black h3 {
  color: #f5f5f5;
  font-size: 2.5rem;
  text-align: center;
  padding: 3rem 0;
}

.brand_cards {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  gap: 1.5rem;
}
@media (max-width: 55em) {
  .brand_cards {
    padding: 0 10px;
  }
}

.brand_card {
  outline: 3px solid #15803d;
  border-radius: 25px;
  display: grid;
  gap: 1.5rem;
}

.img_wrapper {
  justify-self: center;
  display: flex;
  padding: 10px 12px;
  width: 274px;
  height: 220px;
}

.img_wrapper img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.btn_wrapper {
  background-color: rgba(33, 146, 68, 0.3);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 16px 0px;
}

.show {
  display: block;
}

.information .company-name .img-wrapper {
  display: flex;
  justify-content: center;
  padding: 2.5em 0;
}
.information .company-name .img-wrapper img {
  width: 250px;
  height: auto;
}
.information .company-name p {
  padding: 2.5rem 0.5rem 2.5rem 0.5rem;
  font-size: 1.3rem;
  line-height: 1.5;
}
.information .company-name .button-wrap {
  border: 3px blue solid;
}
.information .even-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
@media (max-width: 55em) {
  .information .even-columns {
    grid-template-columns: 1fr;
  }
}

.no-list-style {
  list-style: none;
}

.grid-jc-center {
  display: grid;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.padding-y-3 {
  padding: 1.5rem 0;
}

.cards {
  margin-inline: auto;
}

.brand-cards {
  background: #dcfce7;
  width: 100%;
  border-radius: 20px;
  padding: 0.5rem;
}

.product-lists {
  padding: 0 3rem;
}

.product-list {
  padding: 1rem 3rem 3rem 0;
}
.product-list li {
  position: relative;
  line-height: 1.7;
  font-size: 0.9375rem;
}
.product-list li::before {
  content: " ";
  position: absolute;
  background: url(/images/check-mark.png) no-repeat;
  height: 100%;
  width: 23px;
  left: -1.8rem;
}

#cta {
  background-color: #171717;
}
#cta .flex-even-columns {
  display: flex;
  flex: 1;
  border: 1px solid red;
}
@media (max-width: 55em) {
  #cta .flex-even-columns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#cta .flex-even-columns .col-1 {
  color: #f0fdf4;
  display: flex;
  align-items: center;
  margin-inline: auto;
  padding: 0 3em;
}
#cta .flex-even-columns .col-1 h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}
@media (max-width: 55em) {
  #cta .flex-even-columns .col-1 h3 {
    font-size: 1.875rem;
    padding: 1.5em 2em;
  }
}
#cta .flex-even-columns .col-2 {
  position: relative;
  padding: 3em 0;
  margin-inline: auto;
}
#cta .flex-even-columns .col-2 .form-container {
  padding: 1em 3em;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
@media (max-width: 55em) {
  #cta .flex-even-columns .col-2 .form-container {
    padding-top: 3em;
  }
}
#cta .flex-even-columns .col-2 .form-container input[type=text],
#cta .flex-even-columns .col-2 .form-container input[type=email],
#cta .flex-even-columns .col-2 .form-container textarea {
  z-index: 1;
  font-size: 14px;
  width: 250px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid black;
  padding: 0.5em 0.5em;
}
#cta .flex-even-columns .col-2 .form-container input[type=text]::placeholder,
#cta .flex-even-columns .col-2 .form-container input[type=email]::placeholder,
#cta .flex-even-columns .col-2 .form-container textarea::placeholder {
  opacity: 0.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#cta .flex-even-columns .col-2 .img-eclipse {
  position: absolute;
  bottom: 0;
  right: 0;
}
#cta .flex-even-columns .col-2 .img-tablet {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-dark {
  background-color: black;
}

.container__contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 3.5rem 0.5rem 0 0.5em;
  color: #f0fdf4;
}
@media (max-width: 55em) {
  .container__contact {
    padding-top: 0;
  }
}
@media (max-width: 800px) {
  .container__contact {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr;
  }
}
.container__contact .pos-relative {
  margin-top: 5rem;
  justify-self: end;
  max-width: 500px;
  width: 100%;
}
@media (max-width: 760px) {
  .container__contact .pos-relative {
    justify-self: center;
  }
}
.container__contact .pos-relative h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 90px;
}
@media (max-width: 55em) {
  .container__contact .pos-relative h1 {
    font-size: 2.5rem;
  }
}
.container__contact .pos-relative p {
  font-weight: 400;
  font-weight: 0.875rem;
}
.container__contact .pos-relative form {
  max-width: 670px;
  width: 100%;
  font-size: 0.9375rem;
}
.container__contact .pos-relative form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 5em 0.5em;
}
.container__contact .pos-relative form .row .col-6, .container__contact .pos-relative form .row .col-12 {
  display: flex;
  flex-direction: column;
}
.container__contact .pos-relative form .row .col-6 {
  flex-wrap: wrap;
  width: 48%;
}
@media (max-width: 400px) {
  .container__contact .pos-relative form .row .col-6 {
    width: 100%;
  }
}
.container__contact .pos-relative form .row .col-12 {
  width: 98%;
}
.container__contact .pos-relative form .form-control {
  font-family: raleway, sans-serif;
  font-size: 1rem;
  padding: 0.5em 1em 0.5em 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(161, 161, 161);
  color: #fff;
  transition: border-bottom 2s;
}
.container__contact .pos-relative form .form-control:focus,
.container__contact .pos-relative form .form-control :hover {
  outline: none;
  border-bottom: 2px solid red;
  transition-timing-function: ease;
}
.container__contact .pos-relative form textarea {
  height: 80px;
}
.container__contact .map_wrap {
  width: 100%;
  max-width: 700px;
  height: 100%;
  overflow: hidden;
}
.container__contact .map_wrap .google_map {
  width: 100%;
  height: 100%;
}

#contact__info {
  padding: 3em 1.5em;
  background-color: #f6f9fc;
}

.contact_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
@media (max-width: 870px) {
  .contact_wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (max-width: 660px) {
  .contact_wrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.contact_wrapper .card-body {
  font-family: raleway, sans-serif;
  padding: 1.8rem;
  background-color: #fff;
  border-radius: 25px;
}
.contact_wrapper .card-body h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.contact_wrapper .card-body p {
  font-size: 1rem;
  margin-bottom: 1.2rem;
  line-height: 1.5;
}
.contact_wrapper .card-body span {
  color: #525252;
  font-size: 0.8rem;
  display: block;
  opacity: 0.7;
  margin-bottom: 0.3rem;
}
.contact_wrapper .card-body a {
  text-decoration: none;
  color: #171717;
  font-size: 1.2rem;
}
.contact_wrapper .card-body li {
  margin-bottom: 0.8rem;
}
.contact_wrapper .card-body li .d-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact_wrapper .card-body li .d-flex span {
  opacity: 1;
  font-size: 1.2rem;
  font-weight: 600;
  color: #171717;
}
.contact_wrapper .card-body li .d-flex .border-top {
  border-top: 1px solid rgba(82, 82, 82, 0.3);
  width: 34px;
  height: 1px;
}
.contact_wrapper .card-body .btn-outline {
  box-sizing: border-box;
  padding: 9.2px 20px 9.2px 20px;
  font-size: 0.7rem;
  font-weight: 600;
  color: #16a34a;
  outline: 1px solid #16a34a;
  line-height: 1.4;
  border-radius: 12px;
}
.contact_wrapper .card-body .btn-outline img {
  height: 12px;
  width: auto;
}

.flow {
  list-style: none;
}

footer {
  background: white;
}
footer h4 {
  font-size: 1.5rem;
  color: darkgreen;
}
footer .primary-footer-wrapper {
  padding: 3rem 0;
  display: grid;
  grid-template-areas: "logo-social" "nav" "form";
  gap: 30px;
  justify-items: center;
}
@media (min-width: 50em) {
  footer .primary-footer-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "logo-social nav form";
  }
  footer .primary-footer-logo-social {
    align-items: flex-start;
  }
}
footer .primary-footer-logo-social {
  grid-area: logo-social;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
footer .primary-footer-logo-social .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
footer .social-list {
  display: flex;
  gap: 20px;
  margin-left: 7px;
  list-style: none;
}
footer .social-icon {
  width: 2rem;
  aspect-ratio: 1.1;
}
footer .primary-footer-nav {
  grid-area: nav;
}
footer .footer-nav a {
  color: #171717;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}
footer .footer-nav a:is(:hover, :focus) {
  color: #15803d;
  font-weight: 700;
}
footer .footer-nav .flow {
  list-style: none;
  gap: 1.1em;
  display: grid;
}
footer .primary-footer-info {
  font-size: 0.9rem;
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 250px;
}
footer .primary-footer-info .contact-wrap {
  display: flex;
  gap: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 300px;
  grid-template-rows: auto;
  grid-template-areas: "text text text img" "service service service img";
}
@media (max-width: 55em) {
  .wrapper {
    grid-template-areas: "text text text text" "img img img img" "service service service service";
  }
}
.wrapper .box-1 {
  grid-area: text;
  padding: 3rem;
  line-height: 2;
}
.wrapper .box-2 {
  grid-area: img;
  padding: 3rem 2rem 0 2rem;
}
.wrapper .box-2 .adj-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  background-color: #86efac;
  border-radius: 1.5rem;
  padding: 3rem;
}
@media (max-width: 55em) {
  .wrapper .box-2 .adj-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }
}
.wrapper .box-2 .adj-wrapper .icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 120px;
}
.wrapper .box-3 {
  grid-area: service;
  padding: 0 1.5rem;
  font-size: 1.2rem;
}
.wrapper .box-3 ul {
  list-style: none;
}
.wrapper .box-3 ul li {
  position: relative;
  line-height: 1.5;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
}
.wrapper .box-3 ul li:before {
  content: "⮞";
  color: white;
  font-size: 0.9rem;
  position: absolute;
  left: -2rem;
  top: 15px;
  border-radius: 100%;
  padding: 0 5px;
  background-color: #15803d;
}

/*# sourceMappingURL=style.css.map */
